{% extends 'stats/base.html' %}
{% load static from staticfiles %}

{% block fb_og %}
  <meta property="og:site_name" content="MiddCourses">
  <meta property="og:title" content="MiddCourses Stats">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:image" content="{% static 'stats/img/statshot.png' %}">
{% endblock %}

{% block content %}

<h1>Totals since {{ launch_date|date:"m/d/Y"}}</h1>

<div class="row">
  <div class="col-sm-3">
    <h2>{{ total_reviews }}</h2><h3 class="text-muted">reviews</h3>
  </div>
  <div class="col-sm-3">
    <h2>{{ total_users }}</h2><h3 class="text-muted">users</h3>
  </div>
  <div class="col-sm-3">
    <h2>{{ total_courses }}</h2><h3 class="text-muted">courses</h3>
  </div>
  <div class="col-sm-3">
    <h2>{{ total_professors }}</h2><h3 class="text-muted">professors</h3>
  </div>
</div>

<hr>

<h1>Last 30 days starting {{ start_date|date:"m/d/Y" }}</h1>

<div id="reviews" class="row timeseries-stat">
  <div class="sum col-sm-2">
    <h2>{{ review_count }}</h2><h3 class="text-muted"> reviews</h3>
  </div>
  <div class="timeseries col-sm-10">
    <svg data-timeseries='{{ review_stats }}'></svg>
  </div>
</div>

<div id="users" class="row timeseries-stat">
  <div class="sum col-sm-2">
    <h2>{{ user_count }}</h2><h3 class="text-muted"> users</h3>
  </div>
  <div class="timeseries col-sm-10">
    <svg data-timeseries='{{ user_stats }}'></svg>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6">
    <h1>Most reviewed courses</h1>
      <table class="table"><tbody>
      {% for course in top_courses %}
        <tr>
          <td><a href="{{ course.get_absolute_url }}">{{ course }}</a></td>
          <td class="review-count">{{ course.reviews }} reviews</td>
        </tr>
      {% endfor %}
      </tbody></table>
  </div>
  <div class="col-sm-6">
    <h1>Most reviewed professors</h1>
      <table class="table"><tbody>
      {% for prof in top_professors %}
        <tr>
          <td><a href="{{ prof.get_absolute_url }}">{{ prof }}</a></td>
          <td class="review-count">{{ prof.reviews }} reviews</td>
        </tr>
      {% endfor %}
      </tbody></table>
  </div>
</div>

<img style="display:none;" src="{% static 'stats/img/statshot.png' %}">
{% endblock %}