{% extends 'base.html' %}

{% block content %}
    <h2>{{ page|length }} results for <u>{{query}}</u></h2>

    <form role="form" class="form-inline" method="get" action="">
        <div class="row">
            <div class="col-sm-6 col-md-6">
              <form method="GET" action="/search">
                <input id="id_q" class="form-control input-lg" type="text" name="q" placeholder="Search for Professors or Courses">
              </form>
            </div>
        </div>

        <label for="id_models_0">Search in</label>
            <label for-"id_models_0" name="models" type="checkbox" value="reviews.course">
                <input id="id_models_0" name="models" type="checkbox" value="reviews.course">Courses
            </label>

        <label for="id_models_1">
            <input id="id_models_1" name="models" type="checkbox" value="reviews.professor">Professors
        </label>
        <table>
            {{ form.as_p }}
            <tr>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}

            {% ifequal page.object_list.0.model_name "course" %}<h3>Courses</h3>{% endifequal %}

            {% for result in page.object_list %}
                {% ifequal page.object_list.0.model_name "course" %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
                {% endifequal %}
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %} 