*~
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*
.env
develop-eggs
downloads
eggs
log
parts
cache
src
uploads
media
whoosh_index
tmp
.DS_Store
*.sublime-*
/**/less/*.css
*.db
assets
*.dump
analytics.json
coursereviews/settings/local.py
