{% load static from staticfiles %}

<div class="row why-row">
  <div class="col-lg-6 col-lg-offset-1">
   <img class="img-responsive" src="{% static 'static_pages/img/church-light.jpg' %}" ></a>
    
  </div>

  <div class="col-lg-4">
    <div class="text">
      <h4>In the heart of Vermont.</h4>
      <p>Craigslist is the best way to buy and sell used stuff because of the huge network of people already using it, not because it's fast, easy, or intuitive. We're Craigslist users that weren't satisfied with the experience, so we built some tools to make it better. </p>
      <p>Our goal is to make the entire process easier, from the moment you decide to sell until the money is in your hand.</p>
      <p>If you have any feedback or an idea to make our site better, please don't hesitate to email us at <a href="mailto:info@rocketlistings.com"> info@rocketlistings.com</a></p>
    </div>
  </div>
</div>