{% load static from staticfiles %}
{% load active from navigation %}

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Midd CourseRevie|ws</a>
    </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">      
      {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="username-item {% active 'user_profile' 'user_info' %}" href="{% url 'user_profile' user.username %}">
            <span class="nav-item-text"> {{ request.user.username }}</span>
          </a>
        </li>
        <li class="dropdown hidden-xs">
          <a id="dLabel" class="settings-cog {% active 'user_profile' 'user_info' %}" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
            {# <span class="glyphicon glyphicon-cog"></span> #}
            <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
              <a href="{% url 'auth_logout' %}">
                <span class="nav-item-text">Logout</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="visible-xs">
            <a href="{% url 'auth_logout' %}">
              <span class="nav-item-text">Logout</span>
            </a>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav pull-left header-menu-bar">
        <li><a class="{% active 'about' %}" data-href="#about" id="about-link" href="/about/">About</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a class="{% active 'registration_register' %}" id="join" href="{% url 'registration_register' %}">
            <span class="nav-item-text">Sign Up</span>
          </a>
        </li>
        <li>
          <a class="{% active 'auth_login' %}" href="{% url 'auth_login' %}">
            <span class="nav-item-text">Login</span>
          </a>
        </li>
      </ul>
      {% endif %} 
      </div>
  </div>
</nav>