@import "../../coursereviews/less/base.less";
// edit.html

.hide {
  display: none;
}

.hide-preserve-space {
  visibility: hidden;
}

form {
  .row {
    margin-bottom: 25px;
    select, input, textarea {
      margin-left: 10px;
    }
    .select2-container {
      margin-left: 10px;
      width: 100%;
      .select2-choice {
        height: 34px;
        line-height: 34px;
      }
    }
  }
}