@import "../../coursereviews/less/base.less";
// edit.html

@error-color: #b94a48;

.hide {
  display: none;
}

.hide-preserve-space {
  visibility: hidden;
}

body.modal-open { margin-right: 0px; }

form.edit-review {
  padding-bottom: 20px;
  label { font-weight: 500 !important; }

  // 25px at the bottom of each question
  .row {
    margin-bottom: 25px;
  }

  // Style hours display and slider
  .hours-container {
    .hours-display {
      width: 40px;
      text-align: center;
      font-weight: bold;
      margin-right: 10px;
      display: inline-block;
      margin-bottom: auto !important;
    }
    .slider {
      width: calc(~"100% - 64px") !important;
    }
  }

  // Set margin left on all top level answers
  // and sublevel questions
  .hours-display,
  .select2-container,
  .btn-group:not(.subq),
  .prof-questions-container > .row > label,
  textarea {
    margin-left: 10px;
  }

  // Button groups of top level answers
  .btn-group:not(.subq) {
    label {
      width: percentage(1/3);
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }

  // Button groups of sublevel answers
  .btn-group.subq {
    @media (max-width: 480px) {
      margin-left: 10px;
      width: 100%;
      label {
        width: percentage(1/5);
      }
    }
  }

  // Set sublevel questions to 100% at <= 480px
  .prof-questions-container > .row > label {
    @media (max-width: 480px) {
      width: 100%;
    }
  }



  // Dropdown
  .select2-container {
    width: 100%;
    .select2-choice {
      height: 34px;
      line-height: 34px;
    }
  }

  .error {
    h4, h5 { color: @error-color !important; }
    .btn-group {
      label:not(:first-child):not(:last-child) {
        border-top: 1px solid @error-color;
        border-bottom: 1px solid @error-color;
      }
      label:first-child {
        border-top: 1px solid @error-color;
        border-bottom: 1px solid @error-color;
        border-left: 1px solid @error-color;
      }
      label:last-child {
        border-top: 1px solid @error-color;
        border-bottom: 1px solid @error-color;
        border-right: 1px solid @error-color;
      }
    }
    .select2-choice, .select2-choices {
      border: 1px solid @error-color;
    }
  }
  .review-delete {
    color: #d2322d;
    &:hover {
      color: #d2322d;
    }
  }
}

#coursesLoading {
  height: 34px;
  padding: 6px 10px;
  opacity: 1;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  &.hide-fade {
    opacity: 0;
  }
}

.bar-chart rect {
  stroke: white;
  fill: steelblue;
}


////////////////////////////////////
// REVIEWS BROWSE                 //
////////////////////////////////////
.tt-input,
.tt-hint {
  width: 100%;
  padding: 8px 12px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #428bca;
  }
}

.tt-input {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 5px 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgb(85, 85, 85);
  &:hover {
    color: rgb(85, 85, 85);
    text-decoration: none;
  }
  &.tt-cursor {
    color: #fff;
    background-color: #428bca;
  }
  p {
    margin: 0;
  }
}

.tt-dropdown-menu {
  width: 100%;
  div[class^='tt-dataset-'] {
    .tt-suggestions {
      .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

.typeahead-suggestion-header {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

.btn-new-review {
  margin-bottom: 10px;
}

.courses-list {
  width: 100%;
  float: left;
  .dept {
    width: 100%;
    float: left;
  }
  li {
    float: left;
    @media (max-width: 480px) {
      width: 100%
    }
    @media (min-width: 481px) {
      width: 33%;
    }
  }
}

// Avoid Flash of Unstyled Content
// while Typeahead adds the .twitter-typeahead class
.big-search {
  margin: 20px 0;
}

// Catalog

.departments,
.courses-professors {
  @media (min-width: 768px) {
    overflow: auto;
    margin-bottom: 0;
  }
}

.list-group-item.course,
.list-group-item.professor {
  background: inherit;
  border: 1px solid transparent;

  &:hover, &:active, &:focus {
    background: inherit;
    text-decoration: underline;
    span {
      background-color: #555;
    }
  }
}

////////////////////////////////////
// REVIEWS DETAIL                 //
////////////////////////////////////

h2.review-title {
  a {
    color: #999;
  }
}

.no-reviews {
  text-align: center;
  margin-top: 20px;
}

.comments {
  .comment {
    margin: 10px 0;
    .comment-voting,
    .comment-flagging {
      width: 5%;
      padding: 0 5px;
      vertical-align: top;
      color: #b4b4b4;
      text-align: center;
      &:hover { cursor: pointer; }
    }
    .comment-voting {
      font-size: 20px;
      .upvote { margin-left: -2px; }
      .downvote  { margin-right: -1px; }
      .upvote-highlight { color: #47a447; }
      .downvote-highlight { color: #d9534f; }
      span {
        font-weight: 900;
      }
      span:hover:not(.upvote-highlight):not(.downvote-highlight) {
        color: darken(#b4b4b4, 10%);
      }
    }
    .comment-flagging {
      font-size: 16px;
      span:hover { color: darken(#b4b4b4, 10%); }
    }
    .comment-body {
      width: 90%;
      vertical-align: top;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #999;
    }
  }
}

#flagForm {
  margin: 20px 0;
}

svg {
  g {
    rect {
      fill: #3276b1;
      &:hover {
        fill: lighten(#3276b1, 10%);
      }
    }
    text {
      font-size: 13px;
    }
  }
  .axis {
    text {
      font-size: 12px;
      fill: #333;
    }
    path, line {
      fill: none;
      stroke: #333;
      shape-rendering: crispEdges;
    }
  }
  .y.axis {
    line { stroke: #b4b4b4; }
    path { stroke: none; }
  }
  &[id^='prof_'] .x.axis {
    path { stroke: none; }
  }
  .gridlines {
    line {
      stroke: #b4b4b4;
      shape-rendering: crispEdges;
    }
  }
}

svg#hours {
  rect {
    fill: #3276b1;
    shape-rendering: crispEdges;
  }
  .axis {
    path, line {
      fill: none;
      stroke: #333;
      shape-rendering: crispEdges;
    }
  }
  .y.axis {
    line { stroke: #b4b4b4; }
    path { stroke: none; }
  }
  .x.axis {
    path { stroke: none; }
  }
  .gridlines {
    line {
      stroke: #b4b4b4;
      shape-rendering: crispEdges;
    }
  }
  .avg {
    path {
      stroke: black;
      shape-rendering: crispEdges;
    }
    text {
      font-size: 12px;
      fill: #333;
    }
  }

}
