{% load static from staticfiles %}

<div class="container">
  <div class="navigation">
    <div class="mini-logo pull-left"><a href="{% url 'index' %}"
      ><span class="midd">midd</span><span class="courses">courses</span
      ><small>&#x3b2;</small></a></div>
    {% if request.user.is_authenticated %}
      <div class="pull-right">
        <a class="btn btn-primary" href="{% url 'new_review' %}">Write a review</a>
        <a class="logout btn btn-default" href="{% url 'logout' %}">
          <span class="glyphicon glyphicon-off"></span>
        </a>
      </div>
    {% else %}
      <div class="pull-right">
        <a class="login btn btn-default" href="{% url 'login' %}">Login</a>
      </div>
    {% endif %}
  </div>
</div>
