<h1 style="font-family:'Helvetica Neue', Helvetica, sans-serif; font-weight:300; margin:20px 0;"><span style="color:#3376b1;">midd</span><span style="color:#333333;">courses</span><small style="color:#999999; font-size:14px;">&#x3b2;</small></h1>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
Hey there!
</p>
<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
Thanks for signing up for Midd Courses. Click the link below or copy and paste it into your browser to activate your account.
</p>
<a href="http://{{site}}{% url 'registration_activate' activation_key %}" style="font-family:'Helvetica Neue', Helvetica, sans-serif;">http://{{site}}{% url 'registration_activate' activation_key %}</a>
<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
If you didn't sign up for an account, you can ignore this email.
</p>
<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
This link expires in {{expiration_days}} days.
</p>
<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
Thanks,
</p><p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
The Midd Courses Team
</p>