{% extends 'users/base.html' %}

{% block pagetitle %}MiddCourses - Change your password{% endblock %}
{% block content %}
<form class="small-form col-md-4 col-md-offset-4" action="" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <h3>Change your password</h3>
  </div>
  {% if form.non_field_errors %}
    <div class="form-group">
      <div class="col-lg-4">
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            <span>{{error}}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
    <label for="id_old_password">Old Password</label>
    <input type="password" name="old_password" class="form-control"
      id="id_old_password">
    <div class="help-block">
      {% for error in form.old_password.errors %}
        {{ error }}
      {% endfor %}
    </div>
  </div>
  <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
    <label for="id_new_password1">New Password</label>
    <input type="password" name="new_password1" class="form-control"
      id="id_new_password1">
    <div class="help-block">
      {% for error in form.new_password1.errors %}
        {{ error }}
      {% endfor %}
    </div>
  </div>
  <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
    <label for="id_new_password2">Confirm New Password</label>
    <input type="password" name="new_password2" class="form-control"
      id="id_new_password2">
    <div class="help-block">
      {% for error in form.new_password2.errors %}
        {{ error }}
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</form>
{% endblock %}