{% extends 'users/base.html' %}

{% block pagetitle %}MiddCourses - Password Reset{% endblock %}
{% block content %}
<form role="form" class="small-form col-sm-4 col-sm-offset-4" method="POST">
{% csrf_token %}
  <div class="form-group">
    <h3>Password Reset</h3>
    <p>We'll send you a link to change your password.</p>
  </div>
  {% if form.non_field_errors %}
    <div class="form-group">
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          <span>{{error}}</span>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div class="form-group {% if form.email.errors %}has-error{% endif %}">
    <label for="id_email">Email</label>
    <input type="text" name="email" class="form-control" id="id_email">
    <div class="help-block">
      {% for error in form.email.errors %}
        {{ error }}
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</form>
{% endblock %}
