<h1 style="font-family:'Helvetica Neue', Helvetica, sans-serif; font-weight:300; margin:20px 0;"><span style="color:#3376b1;">midd</span><span style="color:#333333;">courses</span><small style="color:#999999; font-size:14px;">&#x3b2;</small></h1>

{% url 'password_reset_confirm' uid token as reset_url %}
<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
Hey there, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},
You are receiving this email because you requested that your MiddCourses
password be reset. If you do not wish to reset your password, please ignore this message.
</p>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
To reset your password, please click the following link, or copy and paste it into your web browser:
</p>

<a href="{{ protocol }}://{{ domain }}{{ reset_url }}" style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
{{ protocol }}://{{ domain }}{{ reset_url }}
</a>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
Your username, in case you've forgotten, is {{ user.username }}.
</p>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
Best,
</p>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
The MiddCourses Team
</p>