{% extends 'users/base.html' %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
	<form class="form-horizontal fixed-width-form" method="post" action="">{% csrf_token %}
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-3 col-lg-offset-2">
                <h4>Choose a New Password</h4>
            </div>
        </div>
        {% if form.non_field_errors %}
        <div class="form-group">
            <div class="col-lg-4">
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
            <label for="id_new_password1" class="col-lg-2 control-label">New Password</label>
            <div class="col-lg-3">
                <input type="password" name="new_password1" class="form-control" id="id_new_password1" value="">
            </div>
            <div class="help-block">{% for error in form.new_password1.errors %}{{ error }}&nbsp;{% endfor %}</div>
        </div>
        <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
            <label for="id_new_password2" class="col-lg-2 control-label">Confirm Password</label>
            <div class="col-lg-3">
                <input type="password" name="new_password2" class="form-control" id="id_new_password2" value="">
            </div>
            <div class="help-block">{% for error in form.new_password2.errors %}{{ error }}&nbsp;{% endfor %}</div>
        </div>
        <div class="form-group">
            <div class="col-lg-3 col-lg-offset-2">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
	</form>
{% endblock %}