{% extends 'users/base.html' %}

{% block title %}Password reset{% endblock %}
{% block content %}
	<form class="form-horizontal fixed-width-form" method="post" action="">{% csrf_token %}
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-3 col-lg-offset-2">
                <h4>Password Reset</h4>
            </div>
        </div>
        {% if form.non_field_errors %}
        <div class="form-group">
            <div class="col-lg-4">
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
            <label for="id_email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-3">
                <input type="text" name="email" class="form-control" id="id_email" value="">
            </div>
            <div class="help-block">{% for error in form.email.errors %}{{ error }}&nbsp;{% endfor %}</div>
        </div>
        <div class="form-group">
            <div class="col-lg-3 col-lg-offset-2">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
	</form>
{% endblock %}