<form class="form-horizontal signup-form" action="{% url 'registration_register' %}" method="POST">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <div class="form-group">
    <div class="col-md-3 col-md-offset-2">
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          <span>{{error}}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="form-group">
    <label for="id_email" class="col-md-4 control-label">Midd Email</label>
    <div class="col-md-8">
      <input type="email" name="email" class="form-control" id="id_email" value="{% if form.email.value %}{{form.email.value}}{% endif %}">
    </div>
    {% if form.email.errors %}
    <div class="col-md-offset-4 col-md-8 help-block">{% for error in form.email.errors %}{{ error }}&nbsp;{% endfor %}</div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="id_password1" class="col-md-4 control-label">Create a password</label>
    <div class="col-md-8">
      <input type="password" name="password1" autocomplete="off" class="form-control" id="id_password1" value="">
    </div>
    {% if form.password1.errors %}
    <div class="col-md-offset-4 col-md-8 help-block">{% for error in form.password1.errors %}{{ error }}&nbsp;{% endfor %}</div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="id_password2" class="col-md-4 control-label">Password (again)</label>
    <div class="col-md-8">
      <input type="password" name="password2" autocomplete="off" class="form-control" id="id_password2" value="">
    </div>
    {% if form.password2.errors %}
    <div class="col-md-offset-4 col-md-8 help-block">{% for error in form.password2.errors %}{{ error }}&nbsp;{% endfor %}</div>
    {% endif %}
  </div>
  <div class="form-group">
    <div class="col-md-3 col-md-offset-4">
      <input class="btn btn-primary" type="submit" value="Create Account">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8 col-md-offset-4">
      <a href="{% url 'professor_register' %}">I'm not a student</a>
    </div>
  </div>
</form>