{% extends 'base.html' %}
{% load pipeline %}

{% block js %}
{% javascript 'cr_admin' %}
{% endblock %}

{% block css %}
{% stylesheet 'cr_admin' %}
{% endblock %}

{% block body %}
  {% include "partials/header.html" %}
  {# <div class="wrap"> #}
    {# {% include "static_pages/partials/header_static.html" %} #}
    <div class="container">
      {% block content %}<h3>Error 404</h3>{% endblock %}
    </div>
    {# <div class="push"></div>{# sticky footer div #}
  {# </div> #}
  {% include "partials/footer.html" %}
{% endblock %}
