{% extends 'base.html' %}
{% load compressed %}

{% block js %}
{% compressed_js 'cr_admin' %}
{% endblock %}

{% block css %}
{% compressed_css 'cr_admin' %}
{% endblock %}

{% block body %}
  {# <div class="wrap"> #}
    {# {% include "static_pages/partials/header_static.html" %} #}
    <div class="container">
      {% block content %}<h3>Error 404</h3>{% endblock %}
    </div>  
    {# <div class="push"></div>{# sticky footer div #}
  {# </div> #}
  {% include "static_pages/partials/footer_static.html" %}
{% endblock %}