{% extends 'cr_admin/base.html' %}

{% block content %}

<h3><a href="{% url 'admin_index' %}">Admin</a>&nbsp;<small>Flagged Reviews</small></h3>

{% if request.user.userprofile.middcourses_admin %}
<p><a href="{% url 'admin_flags_moderated' %}">See moderated reviews</a></p>
{% endif %}

<table class="table table-hover">
<thead><tr>
  <td>Course</td>
  <td>Professor</td>
  <td>Created</td>
  <td># times flagged</td>
</tr></thead>
<tbody>
{% for review in reviews %}
  <tr class="flagged-review-row" data-review-id="{{ review.id }}">
    <td>{{ review.prof_course.course }}</td>
    <td>{{ review.prof_course.prof }}</td>
    <td>{{ review.date }}</td>
    <td>{{ review.flagged_count }}</td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}