{% extends 'base.html' %}
{% load static from staticfiles %}
{% load pipeline %}

{% block js %}
  <script src="{% static 'coursereviews/js/select2.min.js' %}"></script>
  <script src="{% static 'reviews/js/bootstrap-slider.js' %}"></script>
  {% javascript 'new_review' %}
{% endblock %}

{% block css %}
  {% stylesheet 'reviews' %}
{% endblock %}

{% block body %}
  {% include "partials/header.html" %}
  {# <div class="wrap"> #}
    {# {% include "static_pages/partials/header_static.html" %} #}
    <div class="container">
      {% block content %}<h3>Error 404</h3>{% endblock %}
    </div>
    {# <div class="push"></div>{# sticky footer div #}
  {# </div> #}
{% endblock %}
