{% extends "reviews/base.html" %}
{% load static from staticfiles %}

{% block js %}
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script src="{% static 'reviews/js/typeahead.js' %}"></script>
<script src="{% static 'reviews/js/search.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>Welcome to the new Midd course reviews site.</h2>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <form method="GET" action="/search">
        <input id="search-bar" class="form-control input-lg" type="text" name="q" placeholder="Search for Professors or Courses">
      </form>
      <a class="btn btn-primary btn-new-review" href="{% url 'new_review' %}">Write a review</a>
    </div>
  </div>
  <div class="row">
    {% if courses %}
    <div class="col-md-4">
      <h4>Courses</h4>
      <ul>
        {% for course in courses %}
        <li><a href="{{ course.get_absolute_url }}"><strong>{{ course.code }}</strong> &nbsp; {{ course.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if profs %}
    <div class="col-md-3">
      <h4>Professors</h4>
      <ul>
        {% for prof in profs %}
        <li><a href="{{ prof.get_absolute_url }}">{{ prof }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if recent_reviews %}
    <div class="col-md-3">
      <h4>Recently Reviewed</h4>
      <ul>
      {% for review in recent_reviews %}
        <li><a href="{{ review.get_absolute_url }}"><strong>{{ review.prof_course.course.code }}</strong> {{ review.prof_course.prof }}</li></a>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

{% endblock %}