{% extends "reviews/base.html" %}
{% load static from staticfiles %}

{% block js %}
<script src="{% static 'reviews/js/typeahead.min.js' %}"></script>
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script src="{% static 'reviews/js/search.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>Welcome to the new Midd course reviews site.</h2>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <form class="big-search" method="GET" action="/search">
        <input id="search-bar" class="form-control input-lg" type="text" name="q" placeholder="Search for Professors or Courses">
      </form>
      <a class="btn btn-primary btn-new-review" href="{% url 'new_review' %}">Write a review</a>
    </div>
  </div>
  {% if request.user.get_profile.professor_assoc == None %}
    {% include 'reviews/partials/student_browse.html' %}
  {% else %}
    {% include 'reviews/partials/prof_browse.html' %}
  {% endif %}
{% endblock %}