{% with course=review.prof_course.course prof=review.prof_course.prof %}
  <div class="comment" data-comment-id="{{ review.id }}">
    <table>
      <tbody>
        <tr>
          {% if not request.user.get_profile.professor_assoc %}
            <td class="comment-voting" data-comment-id="{{ review.id }}">
              <span class="glyphicon glyphicon-arrow-up upvote{% if request.user in review.up_votes.all %} upvote-highlight{% endif %}"></span>
              <span class="glyphicon glyphicon-arrow-down downvote{% if request.user in review.down_votes.all %} downvote-highlight{% endif %}"></span>
            </td>
          {% endif %}
          <td class="comment-body">
          <p>
            <a href="{{ course.get_absolute_url }}">
              {{ course.code }}: {{ course.title }}</a> with
            <a href="{{ prof.get_absolute_url }}">
              {{ prof }}</a>
          </p>
          <p>
            {{ review.comment }}
          </p>
          </td>
          {% if not request.user.get_profile.professor_assoc %}
            <td class="comment-flagging">
              <span class="glyphicon glyphicon-flag flag"
                data-comment-id="{{ review.id }}"></span>
            </td>
          {% endif %}
      </tbody>
    </table>
  </div>
{% endwith %}