<h1 style="font-family:'Helvetica Neue', Helvetica, sans-serif; font-weight:300; margin:20px 0;"><span style="color:#3376b1;">midd</span><span style="color:#333333;">courses</span><small style="color:#999999; font-size:14px;">&#x3b2;</small></h1>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
Hi {{ name }},
</p>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
The comment on your review of {{ course }} with {{ prof }} has been flagged.
</p>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;"><i>
{{ comment }}
</i></p>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
While the comment is reviewed by moderators, this review will not appear on the site.  We'll follow up to let you know the status of your review. If you think your comment was unfairly flagged, contact sga@middlebury.edu.
</p>

<p style="font-family:'Helvetica Neue', Helvetica, sans-serif;">
The MiddCourses Team
</p>