{% extends 'reviews/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if reviews %}
                <h2>Courses you've reviewed</h2>
                <table class="table user-reviews">
                    <thead>
                        <tr>
                            <th>Course Code</th>                        
                            <th>Course Title</th>
                            <th>Course Professor</th>
                            <th>Review Date</th>
                            <th></th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                            <tr>
                                <td><code>{{ review.prof_course.course.code }}</code></td>
                                <td>{{ review.prof_course.course.title }}</td>
                                <td>{{ review.prof_course.prof.name }}</td>
                                <td>{{ review.date }}</td>
                                <td class="show-on-hover">
                                    {% if review.editable %}
                                        <a href="{% url 'edit_review' review.id %}" class="btn btn-default btn-small">edit</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>       
            {% else %}
                <h2>This is where you'll see courses you've reviewed</h2>            
            {% endif %}
        </div>
    </div>

{% endblock %}