{% extends 'reviews/base.html' %}
{% load static from staticfiles %}

{% block js %}
  <script src="{% static 'coursereviews/js/select2.min.js' %}"></script>
  <script src="{% static 'reviews/js/d3.v3.min.js' %}"></script>
  {# // <script>var reviews = $.parseJSON("{{ reviews|escapejs }}");</script> #}
  {# // <script type="text/javascript" src="{% static 'reviews/js/detail.js' %}"></script> #}
{% endblock %}

{% block content %}
  <h2>{{ prof_course.course.title }}&nbsp;<small>{{prof_course.course.code}}</small></h2>
  <p>{{ prof_course.course.description }}</p>
  <h3>{{ prof_course.prof }}</h3>
  <p>Hello world!</p>

  <a href="{{ prof_course.course.get_absolute_url }}">
    Back to {{ prof_course.course.title }} overview
  </a>
  <div id="review-body"></div>
{% endblock %}