{% extends 'reviews/base.html' %}
{% load static from staticfiles %}

{% block js %}
  <script src="{% static 'coursereviews/js/select2.min.js' %}"></script>
  <script src="{% static 'reviews/js/d3.v3.min.js' %}"></script>
  {# // <script>var reviews = $.parseJSON("{{ reviews|escapejs }}");</script> #}
  {# // <script type="text/javascript" src="{% static 'reviews/js/detail.js' %}"></script> #}
{% endblock %}

{% block content %}
  <h2>
    {{ course.title }}&nbsp;
    <small>{{course.code}}</small>
  </h2>
  <p>{{ course.description }}</p>
  {% if prof_courses %}
  <h4>Professors</h4>
  <ul>
    {% for prof_course in prof_courses %}
    <li><a href="{{ prof_course.get_absolute_url }}">{{ prof_course.prof }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <div id="review-body">
    <div class="row">
      <div class="col-md-6">
        {% ifequal type 'course' %}
          {% include 'reviews/partials/course_review.html' %}
        {% else %}
          {% include 'reviews/partials/professor_review.html' %}
        {% endifequal %}
      </div>
      <div class="col-md-6">
        {% include 'reviews/partials/comments.html' %}
      </div>
    </div>
  </div>
{% endblock %}