{% extends "reviews/base.html" %}
{% load static from staticfiles %}

{% block js %}
<script src="{% static 'reviews/js/typeahead.min.js' %}"></script>
<script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script src="{% static 'reviews/js/search.js' %}"></script>
{% endblock %}

{% block content %}
  {% include 'partials/logo.html' %}
  <div class="row">
    <div class="col-sm-6 col-md-6">
      {% for message in messages %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
      <form class="big-search" method="GET" action="/search">
        <input id="search-bar" class="form-control input-lg" type="text" name="q" placeholder="Search for Professors or Courses">
      </form>
      <a class="btn btn-primary btn-new-review" href="{% url 'new_review' %}">Write a review</a>
    </div>
  </div>

  {% with quota=request.user.get_profile.quota %}
    {% if quota > 0 %}
      <h4>You have to write {{ quota }} more review{{ quota|pluralize }} this semester to see others.</h4>
      <p>By contributing, you help us always have up to date reviews for everyone.</p>
    {% endif %}
    <div class="row">
      <div class="col-sm-12">
      {% for department in profs_courses_by_dept %}
        <ul class="courses-list list-unstyled">
          <h4>{{ department.dept.name }}</h4>
          <div class="dept courses">
            <h5>Courses</h5>
            {% for course in department.courses %}
              {% if quota > 0 %}
                <li class="text-muted">{{ course.title }}</li>
              {% else %}
                <li><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></li>
              {% endif %}
            {% endfor %}
          </div>
          <div class="dept profs">
            {% if department.profs|length > 0 %}
              <h5>Professors</h5>
              {% for prof in department.profs %}
                {% if quota > 0 %}
                <li class="text-muted">{{ prof }}</li>
                {% else %}
                <li><a href="{{ prof.get_absolute_url }}">{{ prof }}</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </ul>
      {% endfor %}
      </div>
    </div>
  {% endwith %}
{% endblock %}