{% extends 'base.html' %}

{% block content %}
  <h2>Murray Dry</h2>
  <img src="http://web.middlebury.edu/database/directory/DirectoryImage.aspx?username=dry"/>
  <br/><br/>
  <a href="mailto:dry@middlebury.edu">dry@middlebury.edu</a>
  <h4>Courses</h4>
  <ul>
<li><a href="#">FYSE 1030 - Love & Friendship</a></li>
<li><a href="#">PSCI 0101 - Intro to Political Philosophy</a></li>
<li><a href="#">PSCI 0102 - American Political Regime</a></li>
<li><a href="#">PSCI 0305 - American Constitutional Law</a></li>
<li><a href="#">PSCI 0306 - American Constitutional Law</a></li>
<li><a href="#">PSCI 0317 - Ancient & Med. Pol. Philosophy</a></li>
<li><a href="#">PSCI 0318 - Modern Political Philosophy</a></li>
<li><a href="#">PSCI 0344 - Race, Sex, & the Constitution</a></li>
<li><a href="#">PSCI 0500 - Independent Project</a></li>
<li><a href="#">PSCI 0700 - Honors Thesis</a></li>
<li><a href="#">PSCI 1010 - Same Sex Marriage and the Law</a></li>
<li><a href="#">PSCI 1033 - Reading Adam Smith</a></li>
</ul>
{% endblock %}