{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compressed %}
{% load active from navigation %}

{% block js %}
  <script type="text/javascript" src="{% static 'static_pages/js/static_pages.js' %}"></script> 
{% endblock %}

{% block css %}
  {% compressed_css 'static_pages' %}
{% endblock %} 

{% block body %}
  {# <div class="wrap"> #}
    {# {% include "static_pages/partials/header_static.html" %} #}
    {% block marginless %}{% endblock %}
    <div class="container">
      {% block content %}<h3>Error 404</h3>{% endblock %}
    </div>  
    {# <div class="push"></div>{# sticky footer div #}
  {# </div> #}
  {% include "static_pages/partials/footer_static.html" %}
{% endblock %}