{% extends "static_pages/base.html" %}
{% load static from staticfiles %}
{% load active from navigation %}

{% block content %}
  {% if message %}
  <div class="splash-alert alert alert-info">
    <h4>{{ message }}</h4>
    <p>{{ sub_message }}</p>
  </div>
  {% endif %}
  <h2>This is the new Midd course reviews website.</h2>
  <div data-toggle="buttons">
    <a class="btn btn-default" id="login" href="#login-partial" data-toggle="tab"><input type="radio" class="hide">Login</a>
    <a class="btn btn-primary" id="sign-up" href="#sign-up-partial" data-toggle="tab"><input type="radio" class="hide">Sign up as a Student</a>
  </div>
  <div class="tab-content homepage-tab-content">
    <div id="login-partial" class="tab-pane fade">
      {% include 'cr_registration/login.html' %}
    </div>
    <div id="sign-up-partial" class="tab-pane fade">
      {% include 'cr_registration/registration_form.html' %}
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    var tabLinkId = "{{ tab|escapejs }}";
    $(tabLinkId).tab('show');
    var buttonLinkId = tabLinkId.split('-partial')[0];
    if (buttonLinkId) {
      $(tabLinkId).addClass('active');
    }
  </script>
{% endblock %}