@import "variables.less";

html {
  height: 100%;
}

body {
  background-color: @background;
  border-right: @accent-width solid @accent;
  border-bottom: @accent-width solid @accent;
  min-height: 100%;
}

.homepage-tab-content {
  margin-top: 30px;
}

.splash-alert {
  margin-bottom: 20px;
}

.twitter-typeahead {
    width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-hint {
  display: block;
  width: 100%;
  height: 100% !important;
  padding: 10px 16px;
  line-height: 1.428571429;
  color: lighten(rgb(85, 85, 85), 10%);
  vertical-align: middle;
  border: 1px solid #cccccc;
  font-size: 18px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
 
}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}

.logo {
  font-weight: 300;
  margin: 20px 0;
  .midd { color: #3376b1; }
  .courses { color: #333333; }
  small {
    font-size: 14px;
  }
  a:hover { text-decoration: none; }
}

// Navigation
.navigation {
  float: right;
  a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
}

.terms { font-size: 12px; }