<div class="ratings">
{% if not avg_rating %}
	<h5 class="grey">Unrated</h5>
{% else %}
	{% if avg_rating <= 10 and avg_rating >= 8 %}
		<h5 class="green">All-Star Seller</h5>
	{% elif avg_rating < 8 and avg_rating >= 6 %}
		<h5 class="grey">Power Seller</h5>
	{% elif avg_rating < 6 and avg_rating >= 4%}
		<h5 class="yellow">Reliable Seller</h5>
	{% elif avg_rating < 4 and avg_rating >= 2 %}
		<h5 class="orange">Unreliable Seller</h5>
	{% else %}	
		<h5 class="red">Scammer</h5>
	{% endif %}
{% endif %}
</div>

