{% load static from staticfiles %}

<div class="profile-card">
	<h4 class="seller">Seller</h4>
	<div class="row row-top">
		<div class="col-sm-4 profile-picture">
			{% if listing.user.get_profile.propic %}
				<a href="{{ listing.user.get_absolute_url }}"><img class="thumbnail" src="{{ listing.user.get_profile.propic }}"></a>
			{% else %}
				<a href="{{ listing.user.get_absolute_url }}"><img class="thumbnail" src=" {% static 'users/img/no-photo.png' %}"></a>
			{% endif %}
		</div>
		<div class="col-sm-8 col-details">
			{% if listing.user.get_profile.name %} 
				<h4>{{listing.user.get_profile.name}}</h4>
			{% endif %}
			<a href="{{ listing.user.get_absolute_url }}"><h5>{{listing.user.username}}</h5></a>
			{% include "users/partials/profile_rating.html" %}
			<div class="row twitter-row">
				{% if listing.user.get_profile.twitter_handle %}
					<img src="{% static 'users/img/twitter-bird-blue-on-white.png' %}" width="25px">
					<a href="https://twitter.com/@{{listing.user.get_profile.twitter_handle}}"> @{{listing.user.get_profile.twitter_handle}} </a>	
				{% endif %}
			</div>
			<div class="row fb-row">
				{% if fb.name %}
					<img src="{% static 'users/img/FB-f-Logo__blue_29.png' %}" width="15px"><a href="{{fb.link}}"> {{fb.name}} </a>	
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row-bottom">
		{% if listing.user.get_profile.bio %}
			<p>{{listing.user.get_profile.bio}}</p>
		{% else %}
			<p>Sorry, but {{listing.user.username}} doesn't have a bio.</p>
		{% endif %}
	</div>
</div>

